@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'NanumSquareNeo-Variable';
    font-size: 14px;
    line-height: 30px;
    min-width: 1320px;
    text-align: center;
    color: #35160e;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: rgb(255, 255, 255);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.02);
    box-sizing: border-box;
    z-index: 100;
}

.header_inner {
    width: 1320px;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
header .logo{
    scale: 0.8;
    margin-bottom: -4px;
}

.group {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
}

.nav>li {
    list-style: none;
    padding: 0 50px;
}

.nav>li>a {
    position: relative;
    text-decoration: none;
    font-size: 20px;
    color: #35160e;
    letter-spacing: 0.1em;
    display: block;
    padding: 20px 0;
    position: relative;
    text-transform: uppercase;
}

.nav>li>a::before {
    content: '';
    position: absolute;
    bottom: 15px;
    width: 100%;
    height: 3px;
    background: #333;
    transform: scaleX(0);
    transition: 0.5s ease-in-out;
    transform-origin: right;
}

.nav>li>a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.sub {
    width: 100%;
    background: white;
    display: none;
    clear: both;
    position: absolute;
    right: 0;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.02);
    font-size: 17px;
    color: #35160e;
    padding: 0px 0;
}
.sub_inner{
    width: 1320px; margin: auto;
    display: flex;
    justify-content: end;
}
.sub li { margin: 20px 0;}
.sub li a {
    opacity: 0.8;
    display: block;
    padding: 5px 0;
}

.sub li:nth-child(4){
    width: 251.47px;
}
.sub li:nth-child(3){
    width: 184.88px;
}
.sub li:nth-child(2){
    width: 171.2px;
}
.sub li:nth-child(1){
    width: 185.48px;
}

.sub li a:hover {
    opacity: 1;
}

h1 {
    line-height: 60px;
    font-weight: bolder;
    font-family: 'Damion';
    font-size: 80px;
    color: #35160ee3;
}

.c1 {
    background: #f7cc97 url(../about_img/6.jpg) center -300px no-repeat;
    width: 100%;
    margin: auto;
    height: 200px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    position: relative;
}

.c1 h2 {
    font-size: 40px;
    line-height: 65px;
    font-weight: bolder;
    animation: ani 5s;
    font-family: 'NanumSquareNeo-Variable';
    color: #ab7234;
    
}

@keyframes ani {
    from {
        letter-spacing: 200px;
    }

    from {
        letter-spacing: 10px;
    }
}

.container {
    position: absolute;
    width: 100%;
    margin: auto;
    display: grid;
    justify-items: center;
    z-index: -9;
    grid-auto-rows: 70px 50px 30px 20px 10px;
    grid-gap: 10px;
    object-fit: cover;
    grid-template-areas:
        'a '
        'b '
        'c '
        'd '
        'e '
}

.c2 li {
    background: url(../about_img/6.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.c2 .li1 {
    grid-area: a;
    width: 90%;
    opacity: 0.8;
}

.c2 .li2 {
    grid-area: b;
    width: 70%;
    opacity: 0.6;
}

.c2 .li3 {
    grid-area: c;
    width: 50%;
    opacity: 0.4;
}

.c2 .li4 {
    grid-area: d;
    width: 30%;
    opacity: 0.2;
}

.c2 .li5 {
    grid-area: e;
    width: 10%;
    opacity: 0.1;
}

.c2 {
    width: 100%;
    margin: 10px auto 150px;
    display: flex;
    justify-content: center;
    gap: 150px;
    font-size: 15px;
    position: relative;
}

.c2 .circle {
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    background: #f6d393;
    border-radius: 300px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    line-height: 25px;
    margin-top: 100px;
}

.c2 div h2 {
    width: 100%;
    line-height: 30px;
}

.c2 h4 {
    margin-top: 20px;
}

.c2 h1 {
    font-size: 30px;
    margin-bottom: 15px;
}

.c3 {
    width: 1320px;
    margin: auto;
    height: 350px;
    display: flex;
    justify-content: space-between;
}

.c3_left {
    width: 30%;
    height: 100%;
    background: url(../about_img/4.jpg) no-repeat -100px -50px;
}

.c3_right {
    width: 70%;
    height: 100%;
    background: #624334;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #200d08;
}

.c4 {
    width: 1320px;
    margin: 50px auto;
    height: 350px;
    display: flex;
    justify-content: space-between;
}

.c4_left {
    width: 70%;
    height: 100%;
    background: #f7cc97;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 50px;
    font-size: 20px;
    font-weight: bold;
}

.c4_right {
    width: 30%;
    height: 100%;
    background: url(../about_img/5.jpg) -80px no-repeat;
}

.c5 {
    width: 1320px;
    margin: auto;
    height: 350px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}

.c5_left {
    width: 22%;
    height: 100%;
    background: url(../about_img/3.jpg) no-repeat -15px -105px;
}

.c5_right {
    width: 78%;
    height: 100%;
    background: #c18850;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 50px;
    font-size: 20px;
    font-weight: bold;
}

.c3,
.c4,
.c5 {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}


footer {
    background: #f6d393;
    width: 100%;
    height: 310px;
    bottom: 100px;
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
}

.footer_inner {
    width: 1320px;
    height: 100%;
    margin: auto;
    color: #35160e;
    line-height: 22px;
}

.footer_inner h1 {
    width: 119px;
    height: 62px;
    background: url(../about_img/Logo.png);
    background-size: cover;
    margin: auto;
}

.footer_inner h4 {
    margin-top: 20px;
}

footer .copy {
    background: #35160e;
    height: 50px;
    line-height: 50px;
    color: #f6d393;
}

.footer_inner .t_ctn {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer_inner .left {
    text-align: right
}

.left h5:nth-child(2) a,
.right h5:nth-child(2) a {
    padding: 10px 15px;
    display: inline-block;
    margin-top: 10px;
    background: #35160e;
    border-radius: 2px;
    color: oldlace;
}

.footer_inner .right {
    text-align: left;
}

.footer_inner ion-icon {
    font-size: 35px;
    margin-top: 20px;
    color: oldlace;
    transition: 0.3s;
}

.footer_inner ion-icon:hover {
    color: #35160e;
}