@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');


@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'NanumSquareNeo-Variable';
    font-size: 14px;
    line-height: 25px;
    text-align: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}
h3{
    font-size: 70px;
    font-family: 'Pretendard-Regular';
    color: #30aae1;
    text-align: left;
    width: 1320px;
    margin: auto;
    padding: 200px 0 0;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: rgb(255, 255, 255);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.02);
    box-sizing: border-box;
    z-index: 100;
    border-bottom: 1px solid #30aae1;
    
}

.header_inner {
    max-width: 1320px;
    width: 100%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

header .logo {
    scale: 0.8;
    margin-bottom: -4px;
}

.group {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
}

.nav>li {
    list-style: none;
    padding: 0 50px;
}

.nav>li>a {
    position: relative;
    text-decoration: none;
    font-size: 20px;
    color: #30aae1;
    letter-spacing: 0.1em;
    display: block;
    padding: 20px 0;
    position: relative;
    text-transform: uppercase;
}

.nav>li>a::before {
    content: '';
    position: absolute;
    bottom: 15px;
    width: 100%;
    height: 3px;
    background: #333;
    transform: scaleX(0);
    transition: 0.5s ease-in-out;
    transform-origin: right;
}

.nav>li>a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.sub {
    width: 100%;
    background: white;
    display: none;
    clear: both;
    position: absolute;
    right: 0;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.02);
    font-size: 17px;
    color: #30aae1;
    padding: 0px 0;
}

.sub_inner {
    max-width: 1320px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: end;
}

.sub li {
    margin: 20px 0;
}

.sub li a {
    opacity: 0.8;
    display: block;
    padding: 5px 0;
    color: #000;
}

.sub li:nth-child(4) {
    width: 251.47px;
}

.sub li:nth-child(3) {
    width: 184.88px;
}

.sub li:nth-child(2) {
    width: 137.2px;
}

.sub li:nth-child(1) {
    width: 185.48px;
}

.sub li a:hover {
    opacity: 1;
}
.sub_inner li a:hover{
    color: #30aae1;
}
footer {
    background: #dddddd94;
    width: 100%;
    height: 310px;
    bottom: 100px;
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
}
table {
    border-collapse: collapse;
}

caption {
    display: none;
}

a {
    text-decoration: none;
    color: #000;
}

.top {
    width: 100%;
    height: 200px;
    background: #777;
    margin-top: 70px;
    background: url(../community_img/top.jpg) 0 -40px no-repeat;
    background-size: cover;
    opacity: 0.7;
}

.top:hover {
    opacity: 1;
}

.board_list_wrap {
    width: 1320px;
    margin: auto;
    height: 900px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.board_list {
    width: 100%;
    border-top: 5px solid #000;
    font-weight: bold;
}

thead {
    background: #30aae1;
    color: #35160e;
}

.board_list tr {
    border-bottom: 1px solid #ccc;
}

.board_list td {

    font-size: 17px;
    width: 15%;
    text-align: center;
    color: #000;
    border-bottom: 1px solid #ddd;
}

.board_list th {
    font-size: 20px;
    width: 15%;
    padding: 30px;
    color: #fff;
    border-bottom: 1px solid #ddd;
}

.board_list .title {
    text-align: left;
    width: 40%;
    border-bottom: 1px solid #ddd;
}

.board_list .title:hover {
    text-decoration: underline;
}

.board_list_wrap .paging {
    margin-top: 100px;
    font-size: 0;
    text-align: center;
}

.board_list_wrap .paging a {
    display: inline-block;
    border-radius: 100px;
    font-size: 12px;
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    color: #35160e;
}

.board_list_wrap .paging a:first-child {
    margin-left: 0;
}

.board_list_wrap .paging a.bt {
    background: #30aae1;
    color: #fff
}

.board_list_wrap .paging a.num {
    border: 1px solid #fff;
    color: #30aae1;
    font-weight: 600;
}

.board_list_wrap .paging a.num.on {
    background: #30aae1;
    color: white;
}

#board {
    width: 1320px;
    margin: 100px auto 300px;
    text-align: left;
    border: #30aae1 3px solid;
    color: #30aae1;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.1);
}

#board li {
    width: 100%;
}

#board li p {
    font-size: 17px;
    font-weight: 600;
}

#board li a {
    display: block;
    border-bottom: 1px solid #ddd;
    padding: 25px 30px;
    background: url(../main_img/icon.png) no-repeat 95% 50%;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

#board li a b {
    font-size: 30px;
    margin-right: 10px;
}

#board li:hover a {
    font-weight: bold;
    background-color: #30aae1;
}

#board li.on a {
    font-weight: bold;
    background-color: #30aae1;
    background: #30aae1 url(../main_img/icon2.png) no-repeat 95% 50%;
}

#board li:last-child a {
    border-top: 2px;
}

#board li div {
    width: 100%;
    border-bottom: 1px solid #30aae1;
    padding: 50px 80px;
    box-sizing: border-box;
    display: none;
}

#board li div b {
    font-size: 20px;
    margin-right: 10px;
}


.footer_inner {
    max-width: 1320px;
    width: 100%;
    height: 100%;
    margin: auto;
    color: #30aae1;
    line-height: 22px;
}

.footer_inner h1 {
    width: 119px;
    height: 62px;
    background: url(../main_img/Logo.png);
    background-size: cover;
    margin: auto;
}

.footer_inner h4 {
    margin-top: 20px;
}

footer .copy {
    background: #30aae1;
    height: 50px;
    line-height: 50px;
    color: oldlace;
}

.footer_inner .t_ctn {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer_inner .left {
    text-align: right
}

.left h5:nth-child(2) a,
.right h5:nth-child(2) a {
    padding: 10px 15px;
    display: inline-block;
    margin-top: 10px;
    background: #30aae1;
    border-radius: 2px;
    color: oldlace;
    
}

.footer_inner .right {
    text-align: left;
}

.footer_inner ion-icon {
    font-size: 35px;
    margin-top: 20px;
    color: #30aae1;
    transition: 0.3s;
}

.footer_inner ion-icon:hover {
    color: oldlace;
}
